.icons{
    position:relative;
    top:90px;
    height:40px;
    width:100%;
    border-bottom: solid #C0C0C6 1px;
/*    z-index: 9;*/
}

.icons img{
    
    float:right;
}

.icons img:hover{
    cursor:pointer;
}

.grid {
    position:relative;
}

.grid .movie{
    position:relative;
    float:left;
    width: 200px;
    height: 200px;
    margin:10px;
    top:95px;
}



.grid .movie img , .list .movie img{
    position:absolute;
    top:0px;
    left:0px;
    background-color: white;
    padding: 5px;
    border:1px solid lightgray;
    width: 200px;
    height: 200px;
}

.grid .title {
    position:absolute;
    left:6px;
    bottom:-5px;
    height:35px;
    width:200px;
    background-color:rgba(0,0,0,0.3);
    color:white;
    line-height: 35px;
    text-align: center;
}

.grid .year{
   color: white;
}
.grid div.description{
    display:none;
}

.list {
    position:relative;
    margin-top:110px;
    height:260px;
}

.list .movie{
    position:relative;
    display:block;
    width:220px;
    height:220px;
    padding:10px;
    border-bottom:lightgray 1px dotted;
}

.list .year{
    position:absolute;
    top:20px;
    color: black;
    margin-left:250px;
    color:gray;
    font-size:15px;

}

.list .title{
    position:absolute;
    top:10px;
    color: black;
    margin-left:250px;
    font-size:18px;
}
.list div.description{
    line-height:1.5;
    width:450px;
    background-color: rgb(236,255,255);
    font-size:15px;
    margin-left:250px;
}




