/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 9, 2018, 4:50:40 PM
    Author     : jayhixson
*/

input.text{
    color:gray;
    border-width:1px;
    border-color: lightgray;
    border-style: solid;
    width: 150px;
}

div.suggestions{
    position:absolute;
    top:25px;
/*    z-index:50;*/
    border-color:lightgray;
    background-color:white;
    border-style:solid;
    border-width: 1px;
    width:150px;
    overflow:auto;
    display:none;
}

div.sub_suggestions{
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  width:450;
  padding:3px;
}

div.sub_suggestions:hover{
    background-color:gainsboro;
}
#search_button{
    cursor:pointer;
    border-radius: 0 5px 5px 0;
    outline:none;
    margin-left:-2%;
    color:white;
    background-color: #0099ff;
    border: solid #0099ff 1px;
    width:65px

}
#field{
   width:410px;
   border-radius: 3px 0 0 3px;
   border: solid grey 1px;
   
}
#suggestions_box{
    width:470px;
    margin-top:29px;
}
